# UE5 Generated
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Rider
.idea/
*.DotSettings.user

# Compiled
*.pdb
*.exp
*.lib
*.dll

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db
Desktop.ini